{% extends 'base.html.twig' %}
{% block content %}

    <form method="post">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input name="name" type="text" class="form-control" value="{{ worker.getName() }}">
        </div>
        <div class="mb-3">
            <label class="form-label">Address</label>
            <input name="address" type="text" class="form-control" value="{{ worker.getAddress() }}">
        </div>
        <div class="mb-3">
            <label class="form-label">Salary</label>
            <input name="salary" type="text" class="form-control" value="{{ worker.getSalary() }}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}